<% if params[:commit] == "予約履歴の確認" %><% @page_title = "予約履歴" %>
<% else %><% @page_title = "現在の予約状況" %>
<% end %>
<h1><%= @page_title %></h1>

<p><%= link_to "顧客の詳細に戻る", [:admin, @customer] %></p>

<% if @bookings.present? %>
  <table>
    <thead>
      <tr>
        <th>予約No.</th>
        <th>便No.</th>
        <th>航空会社</th>
        <th>便名</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td style="text-align: center"><%= booking.id %></td>
          <td style="text-align: center"><%= booking.flight_id %></td>
          <td style="text-align: center" ><%= booking.flight.airline.name %>航空会社</td>
          <td><%= link_to Flight.find_by(id: booking.flight_id).name, [:admin, @customer, booking] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if params[:commit] == "予約履歴の確認" %><p>予約履歴はありません。</p>
  <% else %><p>現在、承った予約はありません。</p>
  <% end %>
<% end %>
<%= form_tag :admin_customer_bookings, method: :get do %>
  <% if params[:commit] == "予約履歴の確認" %><p><%= submit_tag "現在の予約状況の確認",  value: "現在の予約状況の確認" %></p>
  <% else %><p><%= submit_tag "予約履歴の確認", value: "予約履歴の確認" %></p>
  <% end %>
<% end %>
