<% @page_title = "TOP" %>
<h1><%= @page_title %></h1>

<% if @canceled_flights.present? %>
  <table>
    <tr>
      <th>本日の欠航のお知らせ</th>
      <% @canceled_flights.each do |canceled_flight| %>
        <tr>
          <td><%= canceled_flight.name %>：欠航</td>
        </tr>
      <% end %>
    </tr>
  </table>
<% else %>
  <p>本日の欠航はありません。</p>
<% end %>

<ul>
  <%= menu_link_to "便の検索", :flights %>
  <% unless current_customer %>
    <%= menu_link_to "新規アカウント登録", :new_customer %>
  <% end %>
  <% if current_customer %>
    <%= menu_link_to "便の予約確認", [current_customer, :bookings] %>
    <%= menu_link_to "MyPage", :account %>
  <% end %>
</ul>
