<% total_price = (@flight.price + Seat.find_by(seat_class: params[:seat_class]).price) * params[:number_of_passengers].to_i %>

<% @page_title = "搭乗者情報の入力" %>
<h1><%= @page_title %></h1>

<h3>予約する便の詳細</h3>
<table>
  <thead>
    <tr>
      <th>航空会社</th>
      <th>便名</th>
      <th>出発地</th>
      <th>到着地</th>
      <th>出発日時</th>
      <th>到着日時</th>
      <th>クラス</th>
      <th>料金</th>
      <th>残り枚数</th>
      <th>人数</th>
      <th>合計金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan=2 ><%= Airline.find_by(id: @flight.airline_id).name %>航空会社</td>
      <td rowspan=2 ><%= @flight.name %></td>
      <td rowspan=2 ><%= Airport.find_by(id: @flight.origin_id).name %>空港</td>
      <td rowspan=2 ><%= Airport.find_by(id: @flight.destination_id).name %>空港</td>
      <td rowspan=2 ><%= @flight.departure_date.strftime("%Y年%-m月%d日") %><br><%= @flight.departure_time.strftime("%-H時%M分") %></td>
      <td rowspan=2 ><%= @flight.arrival_date.strftime("%Y年%-m月%d日") %><br><%= @flight.arrival_time.strftime("%-H時%M分") %></td>
    </tr>
    <% if params[:seat_class] == "economy" %>
      <tr>
        <td>エコノミー</td>
        <td>¥<%= @flight.price + Seat.find_by(seat_class: "economy").price %>円</td>
        <td>残り<%= the_rest_of_seats(@flight, "economy") %>枚</td>
        <td><%= params[:number_of_passengers]%>人</td>
        <td>¥<%= total_price %>円</td>
      </tr>
    <% end %>
    <% if params[:seat_class] == "business" %>
      <tr>
        <td>ビジネス</td>
        <td>¥<%= @flight.price + Seat.find_by(seat_class: "business").price %>円</td>
        <td>残り<%= the_rest_of_seats(@flight, "business") %>枚</td>
        <td><%= params[:number_of_passengers]%>人</td>
        <td>¥<%= total_price %>円</td>
      </tr>
    <% end %>
    <% if params[:seat_class] == "first" %>
      <tr>
        <td>ファースト</td>
        <td>¥<%= @flight.price + Seat.find_by(seat_class: "first").price %>円</td>
        <td>残り<%= the_rest_of_seats(@flight, "first") %>枚</td>
        <td><%= params[:number_of_passengers] %>人</td>
        <td>¥<%= total_price %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>
    <% common_message = "搭乗者情報について" %>
    <% error_message = "・電話番号は、8文字以上15文字以下で、入力してください" %>
<%= form_tag @booking_seat_flight, method: :post do |form| %>
  <%= hidden_field_tag "airmodel_id", @flight.airmodel.id %>
  <%= hidden_field_tag "flight_id", @flight.id %>
  <%= hidden_field_tag "total_price", total_price %>
  <%= hidden_field_tag "seat_class", params[:seat_class] %>
  <%= hidden_field_tag "number_of_passengers", params[:number_of_passengers] %>
  <% for number in 1..params[:number_of_passengers].to_i do %>
  <h3><%= "搭乗者#{number}" %></h3>
  <% if @booking_seat_flight.errors.present? %>
    <p><%= params[:error_message] %></p>
  <% end %>
  <table>
    <tr>
      <th>氏名</th>
      <td><%= text_field_tag "passenger_name[]" %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= date_field_tag "passenger_birthday[]", start_year: 1900, end_year: Time.current.year, use_month_numbers: true %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= text_field_tag "passenger_email[]" %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= text_field_tag "passenger_telephone_number[]" %></td>
    </tr>
    <tr>
      <th>座席</th>
      <td><%= select_tag "passenger_seat[]", options_for_select(params[:passenger_seat]) %></td>
    </tr>
  </table>
  <% end %>
  <h3>合計金額：¥<%= total_price %>円</h3>
  <table>
    <tr>
      <th>決済方法</th>
      <td>
        <%= radio_button_tag "payment_method", "クレジットカード", selected: true %>クレジットカード<br>
        <%= radio_button_tag "payment_method", "銀行振込" %>銀行振込<br>
        <%= radio_button_tag "payment_method", "コンビニ払い" %>コンビニ払い<br>
        <%= radio_button_tag "payment_method", "後払い(ペイディ)" %>後払い(ペイディ)
      </td>
    </tr>
  </table>
  <%= submit_tag "予約する" %>
<% end %>
