<% airports = [["指定しない", 0], ["新千歳空港", 1], ["羽田空港", 2], ["成田空港", 3], ["中部空港", 4], ["伊丹空港", 5], ["関西空港", 6], ["福岡空港", 7], ["那覇空港", 8]] %>
<% seatClasses = [["指定しない", 0], ["エコノミー", 1], ["ビジネス", 2], ["ファースト", 3]] %>
<% prices = (1..30).map { |i| ["#{i * 1000}", i * 1000] } %>
<% @page_title = "便の検索" %>
<h1><%= @page_title %></h1>

<p>検索フォーム</p>
<%= form_tag :search_flights, method: :get do %>
  <table>
    <tr>
      <th>出発地</th>
      <td><%= select_tag "origin", options_for_select(airports) %></td>
    </tr>
    <tr>
      <th>到着地</th>
      <td><%= select_tag "destination", options_for_select(airports) %></td>
    </tr>
    <tr>
      <th>日付</th>
      <td><%= date_field_tag "date" %></td>
    </tr>
    <tr>
      <th>時刻</th>
      <td>
        <%= time_field_tag "time" %>
        <%= radio_button_tag "movement", "出発", params[:movement] == "出発" %>出発
        <%= radio_button_tag "movement", "到着", params[:movement] == "到着" %>到着
      </td>
    </tr>
    <tr>
      <th>クラス</th>
      <td><%= select_tag "seatClass", options_for_select(seatClasses) %></td>
    </tr>
    <tr>
      <th>料金</th>
      <td>
        ¥<%= select_tag "minPrice", options_for_select(prices, 1000) %>円 〜 
        ¥<%= select_tag "maxPrice", options_for_select(prices, 30000) %>円
      </td>
    </tr>
  </table>
  <%= submit_tag "検索" %>
<% end %>



<% seatClass = 0 %>
<% if params[:seatClass].present? %>
  <% seatClass = params[:seatClass].to_i %>
<% end %>
<% number_of_rows = 4 %>
<% if seatClass == 0 %>
  <% number_of_rows = 4 %>
<% else %>
  <% number_of_rows = 2 %>
<% end %>

<% if @flights.present? %>
  <table>
    <thead>
      <tr>
        <th>便名</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>出発日時</th>
        <th>到着日時</th>
        <th>クラス</th>
        <th>料金</th>
        <th>枚数状況</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <% if flight.operation && flight.departure_date >= Time.current.to_date && flight.arrival_date >= Time.current.to_date %>
          <tr>
            <td rowspan=<%=number_of_rows%> ><%= link_to flight.name, flight %></td>
            <td rowspan=<%=number_of_rows%> ><%= Airport.where(id: flight.origin_id)[0].name %>空港</td>
            <td rowspan=<%=number_of_rows%> ><%= Airport.where(id: flight.destination_id)[0].name %>空港</td>
            <td rowspan=<%=number_of_rows%> ><%= flight.departure_date.strftime("%Y年%-m月%d日") %><br><%= flight.departure_time.strftime("%-H時%M分") %></td>
            <td rowspan=<%=number_of_rows%> ><%= flight.arrival_date.strftime("%Y年%-m月%d日") %><br><%= flight.arrival_time.strftime("%-H時%M分") %></td>
          </tr>
          <% if seatClass == 0 || seatClass == 1 %>
            <tr>
              <td>エコノミー</td>
              <td>¥<%= flight.price + Seat.where("seat_class = ?", "economy")[0].price %>円</td>
              <td>
                <% if Airmodel.where(id: flight.airmodel.id)[0].economy_nums == 0 %>
                  売り切れました。
                <% else %>  
                  残り<%= Airmodel.where(id: flight.airmodel.id)[0].economy_nums %>枚
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if seatClass == 0 || seatClass == 2 %>
            <tr>
              <td>ビジネス</td>
              <td>¥<%= flight.price + Seat.where("seat_class = ?", "business")[0].price %>円</td>
              <td>
                <% if Airmodel.where(id: flight.airmodel.id)[0].business_nums == 0 %>
                  売り切れました。
                <% else %>  
                  残り<%= Airmodel.where(id: flight.airmodel.id)[0].business_nums %>枚
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if seatClass == 0 || seatClass == 3 %>
            <tr>
              <td>ファースト</td>
              <td>¥<%= flight.price + Seat.where("seat_class = ?", "first")[0].price %>円</td>
              <td>
                <% if Airmodel.where(id: flight.airmodel.id)[0].first_nums == 0 %>
                  売り切れました。
                <% else %>  
                  残り<%= Airmodel.where(id: flight.airmodel.id)[0].first_nums %>枚
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>便がありません。検索し直してください。</p>
<% end %>