<% airports = [["指定しない", 0], ["新千歳空港", 1], ["羽田空港", 2], ["成田空港", 3], ["中部空港", 4], ["伊丹空港", 5], ["関西空港", 6], ["福岡空港", 7], ["那覇空港", 8]] %>
<% seat_classes = [["指定しない", "no_design"], ["エコノミー", "economy"], ["ビジネス", "business"], ["ファースト", "first"]] %>
<% number_of_passengers = (1..3).map { |i| ["#{i}人", i] } %>
<% prices = (1..30).map { |i| ["#{i * 1000}", i * 1000] } %>
<% if params[:seat_class] == "no_design" %>
  <% number_of_rows = 4 %>
<% else %>
  <% number_of_rows = 2 %>
<% end %>

<% @page_title = "便の検索" %>
<h1><%= @page_title %></h1>

<h3>検索フォーム</h3>
<%= form_tag :search_flights, method: :get do %>
  <table>
    <tr>
      <th>出発地</th>
      <td><%= select_tag "origin", options_for_select(airports) %></td>
    </tr>
    <tr>
      <th>到着地</th>
      <td><%= select_tag "destination", options_for_select(airports) %></td>
    </tr>
    <tr>
      <th>日付</th>
      <td><%= date_field_tag "date" %></td>
    </tr>
    <tr>
      <th>時刻</th>
      <td>
        <%= time_field_tag "time" %>
        <%= radio_button_tag "movement", "出発", params[:movement] == "出発" %>出発
        <%= radio_button_tag "movement", "到着", params[:movement] == "到着" %>到着
      </td>
    </tr>
    <tr>
      <th>クラス</th>
      <td><%= select_tag "seat_class", options_for_select(seat_classes) %></td>
    </tr>
    <tr>
      <th>料金</th>
      <td>
        ¥<%= select_tag "minPrice", options_for_select(prices, 1000) %>円 〜 
        ¥<%= select_tag "maxPrice", options_for_select(prices, 30000) %>円
      </td>
    </tr>
  </table>
  <%= submit_tag "検索" %>
<% end %>

<h3>検索一覧</h3>
<% if @flights.present? %>
  <table>
    <thead>
      <tr>
        <th>便No.</th>
        <th>便名</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>出発日時</th>
        <th>到着日時</th>
        <th>クラス</th>
        <th>料金</th>
        <th>枚数状況</th>
        <th>人数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <%= form_tag :seatChoice_booking_seat_flights, method: :get do %>
          <%= hidden_field_tag("flight_id", flight.id) %>
          <% if flight.operation %>
            <tr>
              <td rowspan=<%=number_of_rows%> ><%= flight.id %></td>
              <td rowspan=<%=number_of_rows%> ><%= flight.name %></td>
              <td rowspan=<%=number_of_rows%> ><%= Airport.find_by(id: flight.origin_id).name %>空港</td>
              <td rowspan=<%=number_of_rows%> ><%= Airport.find_by(id: flight.destination_id).name %>空港</td>
              <td rowspan=<%=number_of_rows%> ><%= flight.departure_date.strftime("%Y年%-m月%d日") %><br><%= flight.departure_time.strftime("%-H時%M分") %></td>
              <td rowspan=<%=number_of_rows%> ><%= flight.arrival_date.strftime("%Y年%-m月%d日") %><br><%= flight.arrival_time.strftime("%-H時%M分") %></td>
            </tr>
            <% if params[:seat_class] == "no_design" || params[:seat_class] == "economy" %>
              <tr>
                <td style="text-align: center" >
                  <% unless the_rest_of_seats(flight, "economy") == 0 %>
                    <%= radio_button_tag("seat_class", "economy", params[:seat_class] == "economy", checked: true) %>
                  <% end %>
                  エコノミー
                </td>
                <td style="text-align: center" >¥<%= flight.price + Seat.find_by(seat_class: "economy").price %>円</td>
                <td style="text-align: center" >
                  <% if the_rest_of_seats(flight, "economy") == 0 %>
                    売り切れました。
                  <% else %>
                    残り<%= the_rest_of_seats(flight, "economy") %>枚
                  <% end %>
                </td>
                <td rowspan=<%=number_of_rows%> ><%= select_tag "number_of_passengers", options_for_select(number_of_passengers) %></td>
                <td rowspan=<%=number_of_rows%> ><%= submit_tag "座席選択へ進む" %></td>
              </tr>
            <% end %>
            <% if params[:seat_class] == "no_design" || params[:seat_class] == "business" %>
              <tr>
                <td style="text-align: center" >
                  <% unless the_rest_of_seats(flight, "business") == 0 %>
                    <%= radio_button_tag("seat_class", "business", params[:seat_class] == "business") %>
                  <% end %>
                  ビジネス
                </td>
                <td style="text-align: center" >¥<%= flight.price + Seat.find_by(seat_class: "business").price %>円</td>
                <td style="text-align: center" >
                  <% if the_rest_of_seats(flight, "business") == 0 %>
                    売り切れました。
                  <% else %>  
                    残り<%= the_rest_of_seats(flight, "business") %>枚
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% if params[:seat_class] == "no_design" || params[:seat_class] == "first" %>
              <tr>
                <% if flight.airmodel_id == 3 %>
                  <td style="text-align: center" >ファースト</td>
                  <td style="text-align: center" >設定なし</td>
                  <td style="text-align: center" >設定なし</td>
                <% else %>
                  <td style="text-align: center" >
                    <% unless the_rest_of_seats(flight, "first") == 0 %>
                      <%= radio_button_tag("seat_class", "first", params[:seat_class] == "first") %>
                    <% end %>
                    ファースト
                  </td>
                  <td style="text-align: center" >¥<%= flight.price + Seat.find_by(seat_class: "first").price %>円</td>
                  <td style="text-align: center" >
                    <% if the_rest_of_seats(flight, "first") == 0 %>
                      売り切れました。
                    <% else %>  
                      残り<%= the_rest_of_seats(flight, "first") %>枚
                    <% end %>
                  </td>
                <% end %>  
              <tr>
            <% end %>  
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @flights %>
<% else %>
  <p>便がありません。検索し直してください。</p>
<% end %>


