<% @page_title = "顧客一覧" %>
<h1><%= @page_title %></h1>

<%= render "admin/shared/customer_search_form" %>

<h3>検索一覧</h3>
<% if @customers.present? %>
  <table>
    <thead>
      <tr>
        <th>顧客No.</th>
        <th>ログイン名</th>
        <th>名前</th>
        <th>アルファベット名</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td style="text-align: center"><%= customer.id %></td>
          <td style="text-align: center"><%= link_to customer.login_name, [:admin, customer] %></td>
          <td style="text-align: center"><%= customer.name %></td>
          <td style="text-align: center"><%= customer.alph_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>顧客がいません。検索し直してください。</p>
<% end %>