<% number_of_passengers = 0 %>
<% if Seat.find_by(airmodel_id: @airmodel.id).seat_class == "economy" %>
  <% seat_class = "エコノミー" %>
<% elsif Seat.find_by(airmodel_id: @airmodel.id).seat_class == "business" %>
  <% seat_class = "ビジネス" %>
<% else %>
  <% seat_class = "ファースト" %>
<% end %>
<% checkin = false %>
<% @booking_seat_flights.each do |booking_seat_flight| %>
  <% if booking_seat_flight.checkin %>
    <% checkin = true %>
  <% end %>
<% end %>

<% @page_title = "予約の詳細" %>
<h1><%= @page_title %>(お客様画面)</h1>

<table>
  <thead>
    <tr>
      <th>予約No.</th>
      <th>便No.</th>
      <th>便名</th>
      <th>出発地</th>
      <th>到着地</th>
      <th>出発日時</th>
      <th>到着日時</th>
      <th>クラス</th>
      <th>合計料金</th>
      <th>決済情報</th>
      <% unless checkin %>
        <th>操作</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center"><%= @booking.id %></td>
      <td style="text-align: center"><%= @flight.id %></td>
      <td><%= @flight.name %></td>
      <td><%= Airport.find_by(id: @flight.origin_id).name %>空港</td>
      <td><%= Airport.find_by(id: @flight.destination_id).name %>空港</td>
      <td><%= @flight.departure_date.strftime("%Y年%-m月%d日") %><br><%=  @flight.departure_time.strftime("%-H時%M分") %></td>
      <td><%= @flight.arrival_date.strftime("%Y年%-m月%d日") %><br><%=  @flight.arrival_time.strftime("%-H時%M分") %></td>
      <td><%= seat_class %></td>
      <td style="text-align: center">¥<%= @booking.total_price %>円</td>
      <td style="text-align: center"><%= @booking.payment_method %></td>
      <% unless checkin %>
        <td><%= link_to "予約取り消し", [@customer, @booking], method: :delete, data: { confirm: "本当に予約を取り消ししますか？" } %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<h3>予約する機体の詳細<h3>
<table>
  <tr>
    <th>航空会社</th>
    <th>機体名</th>
    <th>全座席数</th>
  </tr>
  <tr>
    <td><%= @flight.airline.name %>航空会社</td>
    <td><%= @airmodel.name %></td>
    <td><%= @airmodel.economy_nums + @airmodel.business_nums + @airmodel.first_nums %>席</td>
  </tr>
</table>

<h3>搭乗者の詳細<h3>
<table>
  <thead>
    <tr>
      <th>搭乗者No.</th>
      <th>氏名</th>
      <th>座席</th>
      <th>生年月日</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th>チェックイン状況</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @booking_seat_flights.each do |booking_seat_flight| %>
      <% number_of_passengers += 1%>
      <% seat_number = Seat.find_by(id: booking_seat_flight.seat_id).number %>
      <tr>
        <td style="text-align: center" ><%= number_of_passengers %></td>
        <td><%= booking_seat_flight.passenger_name %></td>
        <td style="text-align: center "><%= seat_number %></td>
        <td><%= booking_seat_flight.passenger_birthday&.strftime("%Y年%m月%d日") %></td>
        <td><%= booking_seat_flight.passenger_email %></td>
        <td><%= booking_seat_flight.passenger_telephone_number %></td>
        <td style="text-align: center" >
          <% if booking_seat_flight.checkin %>⭕️
          <% else %>❌
          <% end %>
        </td>
        <td>
          <% unless booking_seat_flight.checkin %>
            <%= form_tag :booking_seat_flight, method: :patch do %>
              <%= hidden_field_tag("airmodel_id", @flight.airmodel_id) %>
              <%= hidden_field_tag("seat_number", seat_number) %>
              <%= submit_tag "チェックイン", data: {confirm: "本当にチェックインしますか？"} %>
            <% end %>
          <% else %>
            <%= link_to "チェックインはこちらから", [:checkin, @customer, @booking] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>※チェックイン後に関する予約の取り消しはできませんので、ご了承ください。</h3>
