<% @page_title = "便の詳細(航空会社画面)" %>
<h1><%= @page_title %></h1>

<h3>現在の予約状況の確認方法</h3>
<ol>
  <li><%= link_to "便一覧", :airline_flights %>から、便名をクリックして、指定の便を選択する。</li>
  <li>便の詳細ページにて、<%= submit_tag "全体の予約状況の確認" %>をクリックする。</li>
  <li>機体の詳細と各クラスの情報、現在の便のチェックイン状況を確認できます。</li>
</ol>

<p><%= link_to "便一覧に戻る", :airline_flights %></p>

<table>
  <thead>
    <th>便No.</th>
    <th>便名</th>
    <th>出発地</th>
    <th>到着地</th>
    <th>出発日時</th>
    <th>到着日時</th>
    <th>クラス</th>
    <th>料金</th>
    <th>枚数状況</th>
    <th>運航/欠航</th>
    <% if @flight.operation %>
      <th>操作</th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td rowspan=4 style="text-align: center" ><%= @flight.id %></td>
      <td rowspan=4 ><%= @flight.name %></td>
      <td rowspan=4 ><%= Airport.find_by(id: @flight.origin_id).name %>空港</td>
      <td rowspan=4 ><%= Airport.find_by(id: @flight.destination_id).name %>空港</td>
      <td rowspan=4 ><%= @flight.departure_date.strftime("%Y年%-m月%d日") %><br><%= @flight.departure_time.strftime("%-H時%M分") %></td>
      <td rowspan=4 ><%= @flight.arrival_date.strftime("%Y年%-m月%d日") %><br><%= @flight.arrival_time.strftime("%-H時%M分") %></td>
    </tr>
    
    <tr>
      <td style="text-align: center" >エコノミー</td>
      <td style="text-align: center" >¥<%= @flight.price + Seat.find_by(seat_class: "economy").price %>円</td>
      <td style="text-align: center" >
        <% if the_rest_of_seats(@flight, "economy") == 0 %>売り切れました。
        <% else %>残り<%= the_rest_of_seats(@flight, "economy") %>枚
        <% end %>
      </td>
      <td rowspan=4 style="text-align: center" >
        <% if @flight.operation %>運航
        <% else %>欠航
        <% end %>
      </td>
      <% if @flight.operation %>
        <td rowspan=4 style="text-align: center" ><%= link_to "欠航", [:airline, @flight], method: :patch, data: { confirm: "本当に欠航しますか？" } %></td>
      <% end %>
    </tr>
    <tr>
      <td style="text-align: center" >ビジネス</td>
      <td style="text-align: center" >¥<%= @flight.price + Seat.find_by(seat_class: "business").price %>円</td>
      <td style="text-align: center" >
        <% if the_rest_of_seats(@flight, "business") == 0 %>売り切れました。
        <% else %>残り<%= the_rest_of_seats(@flight, "business") %>枚
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="text-align: center" >ファースト</td>
      <% if @flight.airmodel_id == 3 %>
        <td style="text-align: center" >設定なし</td>
        <td style="text-align: center" >設定なし</td>
      <% else %>
        <td style="text-align: center" >¥<%= @flight.price + Seat.find_by(seat_class: "first").price %>円</td>
        <td style="text-align: center" >
        <% if the_rest_of_seats(@flight, "first") == 0 %>売り切れました。
        <% else %>残り<%= the_rest_of_seats(@flight, "first") %>枚
        <% end %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
<p>※欠航に設定した後、再び運航に設定することはできないため、ご了承ください。</p>

<%= form_tag :wholeCheckin_airline_flight, method: :get do %>
  <%= hidden_field_tag("flight_id", @flight.id) %>
  <%= submit_tag "全体の予約状況の確認" %>
<% end %>


