<% seat_alphas = %w(A B C D E F) %>
<% all_seat_nums = @airmodel.economy_nums + @airmodel.business_nums + @airmodel.first_nums %>

<% @page_title = "チェックイン状況" %>
<h1><%= @page_title %></h1>

<h3>現在の予約状況の確認方法</h3>
<ol>
  <li><%= link_to "便一覧", :airline_flights %>から、便名をクリックして、指定の便を選択する。</li>
  <li>便の詳細ページにて、<%= submit_tag "全体の予約状況の確認" %>をクリックする。</li>
  <li>機体の詳細と各クラスの情報、現在の便のチェックイン状況を確認できます。</li>
</ol>

<p><%= link_to "便の詳細に戻る", [:airline, @flight] %></p>

<h3>機体の詳細<h3>
<table>
  <thead>
    <tr>
      <th>航空会社</th>
      <th>機体名</th>
      <th>全座席数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @airline.name %>航空会社</td>
      <td><%= @airmodel.name %></td>
      <td><%= all_seat_nums %>席</td>
    </tr>
  </tbody>
</table>

<h3>各クラスの詳細</h3>
<table>
  <tr>
    <th>選択したクラス</th>
    <td>座席の範囲</td>
    <td>各クラスの座席数</td>
  </tr>
  <tr>
    <th>エコノミークラス</th>
    <td style="text-align: center" ><%= Seat.where(airmodel_id: @airmodel.id, seat_class: "economy").first.number %>〜<%= Seat.where(airmodel_id: @airmodel.id, seat_class: "economy").last.number %></td>
    <td style="text-align: center" ><%= @airmodel.economy_nums %>席</td>
  </tr>
  <tr>
    <th>ビジネスクラス</th>
    <td style="text-align: center" ><%= Seat.where(airmodel_id: @airmodel.id, seat_class: "business").first.number %>〜<%= Seat.where(airmodel_id: @airmodel.id, seat_class: "business").last.number %></td>
    <td style="text-align: center" ><%= @airmodel.business_nums %>席</td>
  </tr>
  <tr>
    <th>ファーストクラス</th>
    <% if @flight.airmodel_id == 3 %>
      <td style="text-align: center" >設定なし</td>
      <td style="text-align: center" >設定なし</td>
    <% else %>
      <td style="text-align: center" ><%= Seat.where(airmodel_id: @airmodel.id, seat_class: "first").first.number %>〜<%= Seat.where(airmodel_id: @airmodel.id, seat_class: "first").last.number %></td>
      <td style="text-align: center" ><%= @airmodel.first_nums %>席</td>
    <% end %>
  </tr>
</table>

<h3>チェックイン状況</h3>
<table>
  <tr>
    <th>記号</th>
    <td>記号の為す意味</td>
  </tr>
  <tr>
    <th>⭕️</th>
    <td>予約が完了した座席</td>
  </tr>
  <tr>
    <th>✈️</th>
    <td>チェックインが完了した座席</td>
  </tr>
  <tr>
    <th>❌</th>
    <td>空き座席</td>
  </tr>
</table>

<h3>座席表</h3>
<table>
  <tr>
    <th></th>
    <% seat_alphas.each do |alpha| %>
      <th><%= alpha %></th>
    <% end %>
  </tr>
  <% for num in 1..all_seat_nums/6 %>
    <tr>
      <td><%= num %></td>
      <% seat_alphas.each do |alpha| %>
        <% if BookingSeatFlight.where("flight_id = ? AND seat_id = ? AND checkin = ?", @flight.id, Seat.find_by("airmodel_id = ? AND number = ?", "#{@flight.airmodel.id}", "#{alpha}#{num}").id, true).present? %>
          <td>✈️</td>
        <% elsif BookingSeatFlight.where("flight_id = ? AND seat_id = ?", @flight.id, Seat.find_by("airmodel_id = ? AND number = ?", "#{@flight.airmodel.id}", "#{alpha}#{num}").id).present? %>
          <td>⭕️</td>
        <% else %>
          <td>❌</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
