<% @page_title = "MyPage" %>
<h1><%= @page_title %></h1>

<table>
  <thead>
    <th>ログイン名</th>
    <th>名前</th>
    <th>アルファベット名</th>
    <th>性別</th>
    <th>生年月日</th>
    <th>メールアドレス</th>
    <th>操作</th>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center"><%= @customer.login_name %></td>
      <td><%= @customer.name %></td>
      <td><%= @customer.alph_name %></td>
      <td style="text-align: center"><%= @customer.sex == 1 ? "男性" : "女性" %></td>
      <td><%= @customer.birthday&.strftime("%Y年%m月%d日") %></td>
      <td style="text-align: center"><%= @customer.email %></td>
      <td>
        <%= link_to "編集", :edit_account %> |
        <%= link_to "削除", @customer, method: :delete, data: { confirm: "本当に削除しますか？" } %>
      </td>
    </tr>
  </tbody>
</table>

<p><%= link_to "予約状況の確認", [@customer, :bookings] %></p>
